<form>
    <div class="form-group">
      <label for="startTimeInput">Start Time:</label>
      <input class="form-control" id="startTimeInput" aria-describedby="startTimeHelp" placeholder="Enter Start Time" {% if entry.start_time %} value="{{ entry.start_time }}" {% endif %}>
      <small id="startTimeHelp" class="form-text text-muted">Enter a Start Time.</small>
    </div>
    <div class="form-group">
      <label for="endTimeInput">End Time:</label>
      <input class="form-control" id="endTimeInput" placeholder="Enter end time" {% if entry.end_time %} value="{{ entry.end_time }}" {% endif %}>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="billableCheck" {% if entry.billable %} checked {% endif %}>
      <label class="form-check-label" for="billableCheck">Billable</label>
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description:</label>
      <input class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" placeholder="Enter Description" {% if entry.description %} value="{{ entry.description }}" {% endif %}>
      <small id="descriptionHelp" class="form-text text-muted">Enter a description.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>